@charset "UTF-8";
/* CSS Document */

*{padding:0; margin:0;}
p{padding:0 0 10px 0;}
html, body{height:100%;}
body{font-family:arial; font-size:14px;}
h1{font-size:36px; font-weight:lighter; color:#4c8cc4; padding-bottom:20px; font-family:"Times New Roman", Times, serif; font-style:italic; font-weight:bold;}
h2{font-size:24px; font-weight:lighter; color:#4c8cc4; padding-bottom:10px; font-family:"Times New Roman", Times, serif; font-style:italic; font-weight:bold;}
h3{font-size:18px; font-weight:lighter; color:#4c8cc4; padding-bottom:5px; font-family:"Times New Roman", Times, serif; font-style:italic; font-weight:bold;}
#pageLeft h3{margin-top:20px;}
h4{font-size:18px; font-weight:lighter; color:#005baa; padding-bottom:2px; margin-top:5px; font-family:"Times New Roman", Times, serif; font-weight:bold;}
h5{font-size:18px; font-weight:lighter; color:#005baa; padding-bottom:20px; margin-top:2px; font-family:"Times New Roman", Times, serif;}
.divider{border-top: 1px solid #80add5; height: 30px; margin-top:20px; clear:both;}
.smDivider{border-top: 1px solid #80add5; height: 15px; margin-top:10px;}
hr{color:#80add5;}

fieldset{
	border:none;
}

.bio img{
	float:left;
	padding:0 20px 30px 0;
}

/************************************* Layout *************************************/
#wrapper{
	min-height:100%;
	position:relative;
}

#headerWrapper{
	background: url(../images/header-bg.jpg) repeat-x center bottom;
	height: 115px;
}

#header{
	width: 940px;
	height: 140px;
	margin: auto;
	position:relative;
}

#headerRight{
	color: #005BAA;
    float: right;
    font-size: 16px !important;
    margin-top: 6px;
    text-align: center;
}
/*
#logoWrapper{
	width: 550px;
	height: 160px;
	position: relative;
	left: -80px;
	background: url(../images/header-bg.gif) no-repeat top left;
}
*/
#logo{
	height: 95px;
    left: -2px;
    position: absolute;
    top: 22px;
    width: 215px;
}
#headerTop{
	width: 940px;
	height: 160px;
	position: relative;
}

#nav{
	position: absolute;
    right: 0;
    top: 65px;
    width: 707px;
}

#flashBanner{
	height:300px;
	background:url(../images/flash-bg.jpg) repeat-x;
}

#flashWrapper{
	width:940px;
	margin:auto;
}

#flashContent{
}

#pageWrapper{
	background: url(../images/pageHeader.jpg) repeat-x top;
	padding-bottom:100px;
}

#pageTag{
	color:#005baa;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
	font-size:18px;
	line-height:26px;
	width:940px;
	margin:auto;
	text-align:right;
}

#pageContent{
	width:940px;
	margin:auto;
	padding-top:40px;
}

.threePanel{
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-top: 30px;
}

.threePanelEnd{
	width:300px;
	float: left;
	margin-top: 30px;
}

#footerWrapper{
	background: url(../images/footer-bg.jpg) repeat-x top;
	position:absolute;
	bottom:0;
	width:100%;
	height:100px;   /* Height of the footer */
}

#footer{
	background:url(../images/footer-bg-int.jpg) no-repeat top left;
	width: 940px;
	height: 100px;
	margin: auto;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
}

#footerRight{
	padding-top:10px;
	width: 800px;
	float:right;
}

#footerLeft{
	padding-top:70px;
	padding-left:50px;
	width:20px;
	float:left;
	font-size:10px;
	text-indent: -9999px;
}

#footerLeft a{
	text-decoration:none;
	color:#4c8cc4;
}

#footerLeft a:hover{
	color:#005baa;
}

.footerPhone{
	text-align:right;
	font-size:18px;
	font-weight:bold;
}

.footerNav{
	text-align:right;
	font-size:10px;
}

.footerNav a{
	text-decoration:none;
	color:#FFF;
	border-right: 1px solid #FFF;
	padding-left:10px;
	padding-right: 10px;
}

.navEnd{
	border:none !important;
	padding-right:0px !important;
}

.footerNav a:hover{
	text-decoration:underline;
}

.copyright{
	text-align:right;
	font-size:10px;
}

#pageLeft{
	width: 600px;
	float: left;
	color:#005baa;
	padding-bottom:20px;
}

.pageCol{
	width: 280px;
	float:left;
}

#pageRight{
	width: 250px;
	float: right;
	font-family:"Times New Roman", Times, serif;
	color:#005baa;
}

.box{
	width:250px;
	background:url(../images/box-bg.jpg) repeat-y;
}

.box-woman{
	width:250px;
	height:175px;
	background:url(../images/box-woman.jpg) no-repeat left top;
}

.box-couple{
	width:250px;
	height:175px;
	background:url(../images/box-couple2.jpg) no-repeat left top;
}

.box-grandpa{
	width:250px;
	height:175px;
	background:url(../images/box-grandpa.jpg) no-repeat left top;
}

.box-feedback{
	width:250px;
	height:260px;
	background:url(../images/box-feedback.jpg) no-repeat left top;
}

.box .last{
	background:url(../images/box-footer.jpg) no-repeat left bottom;
	font-style:italic;
	font-weight:bold;
}

.box p{
	padding-left: 20px;
	padding-right: 20px;
	color:#FFF;
	font-family:"Times New Roman", Times, serif;
}

.imgBox-1{
	width:250px;
	height:300px;
	background:url(../images/img-box-1.jpg) no-repeat left top;
}

.imgBox-2{
	width:250px;
	height:300px;
	background:url(../images/img-box-2.jpg) no-repeat left top;
}

.quoteHome{
	font-size:18px;
	color:#005baa;
}

.sigHome{
	font-size:18px;
	font-weight:bold;
	font-style:italic;
	color:#005baa;
}
.fb-link {
	background:url(../images/fb-icon.png) no-repeat left top;
	display: block;
    height: 48px;
    margin: 25px 0;
}
.fb-link > p {
	color: #3B5998;
    font-size: 18px;
    padding-left: 57px;
    padding-top: 10px;
}
.fb-link > p a {
	text-decoration: none;
}
.fb-link > p a:hover {
	color: #005BAA;
	text-decoration: underline;
}

/************************************* Menu CSS *************************************/

.mainNav{overflow:hidden; clear:both;}
        
.mainNav a{
	display:block;
	text-indent:-9999px;
	height:40px;
	float:left;
	background-image:url(../images/feedback-nav.gif);
	background-repeat:no-repeat;
	cursor:pointer;
}
        
#nav_home{background-position:0 0; width:72px; margin-right:2px;}
#nav_home:hover,#nav_home.hover,#nav_home.active{background-position:0 -40px;}
#home #nav_home{background-position:0 -80px;}
        
#nav_insurance{background-position:0 0; width:94px; margin-right:2px;}
#nav_insurance:hover,#nav_insurance.hover,#nav_insurance.active{background-position:0 -40px;}
#insurance #nav_insurance{background-position:0 -80px;}
        
#nav_faq{background-position:-96px 0; width:66px; margin-right:2px;}
#nav_faq:hover,#nav_faq.hover,#nav_faq.active{background-position:-96px -40px;}
#faq #nav_faq{background-position:-96px -80px;}
        
#nav_about{background-position:-164px 0; width:88px; margin-right:2px;}
#nav_about:hover,#nav_about.hover,#nav_about.active{background-position:-164px -40px;}
#about #nav_about{background-position:-164px -80px;}

#nav_health{background-position:-254px 0; width:128px; margin-right:2px;}
#nav_health:hover,#nav_health.hover,#nav_health.active{background-position:-254px -40px;}
#health #nav_health{background-position:-254px -80px;}

#nav_resources{background-position:-385px 0; width:94px; margin-right:2px;}
#nav_resources:hover,#nav_resources.hover,#nav_resources.active{background-position:-385px -40px;}
#resources #nav_resources{background-position:-385px -80px;}

#nav_feedback{background-position:-481px 0; width:127px; margin-right:2px;}
#nav_feedback:hover,#nav_feedback.hover,#nav_feedback.active{background-position:-481px -40px;}
#feedback #nav_feedback{background-position:-481px -80px;}
        
#nav_contact{background-position:-609px 0;width:98px;}
#nav_contact:hover,#nav_contact.hover,#nav_contact.active{background-position:-609px -40px;}
#contact #nav_contact{background-position:-609px -80px;}

	
/************************************* End Menu CSS *************************************/

/************************************* FAQ CSS **********************************************/

.faqs{padding-top:20px; padding-bottom:10px;}
.faqs dt{font-weight:bold; text-decoration:none; color:#00ade9; font-size:18px; background:url(../images/faq-q.gif) 0 4px no-repeat;padding:3px 0 15px 30px;position:relative;}
.faqs dt:hover{cursor:pointer; text-decoration:none;}
/*.faqs dd{background:url(../images/faq-a.gif) 30px 0 5px 30px no-repeat;padding:0 0 5px 70px;margin-bottom:10px;position:relative;color:#333}*/
.faqs dd{background:url(../images/faq-a.gif) 30px 2px no-repeat;padding:0 0 5px 60px; margin-bottom:20px;position:relative;color:#333}
.faqs .hover{
	color:#F90;
	text-decoration:underline;
}

/************************************* Form CSS **********************************************/
.submit2{
	display: block;
	width: 158px;
	height: 30px;
	background-image: url(../images/contact-us.gif);
	border:0;
	cursor:pointer;
}

.errorMsg{
	color:#F00;
	font-style:italic;
}

#inputArea{
	font-family: Arial, Sans-Serif;
	font-size: 13px;
	/*background-color: #d6e5f4;
	padding: 10px;
	width:310px;*/
}
#inputArea input, #inputArea textarea{
	font-family: Arial, Sans-Serif;
	font-size: 13px;
	margin-bottom: 5px;
	display: block;
	padding: 4px;
}

#inputArea input, #inputArea textarea{
}

#inputArea textarea{
}

.activeField{
	background-image: none;
    background-color: #ffffff;
    border: solid 1px #005baa;
}
.idle{
	border: solid 1px #80add5;
	background:url(../images/form-bg.jpg) repeat-x top;
}

/************************************* Phone CSS **********************************************/

